*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

nav{
    position: absolute;
    padding-left: 20px;
    padding-top: 20px;
}

nav #signInButton{
    background-color: #181818;
    border-style: none;
    padding: 8px;
    font-size: 30px;
    color: rgb(240, 240, 240);
    border-radius: 10px;
    text-align: center;
}

nav #signOutButton{
    background-color: rgb(240, 240, 240);
    border: 2px solid black;
    padding: 8px;
    font-size: 30px;
    color: black;
    border-radius: 10px;
}

nav, .main{
    background-color: rgb(240, 240, 240);
}

.main{
    height: 40vh;
}

.main-cont{
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-inline: 5vw;
    padding-block: 1vh;
    justify-content: center;
    height: 100%;

    text-align: right;
}

.main-cont, .body-cont{
    max-width: 1400px;
    margin: auto;
}

.main h1{
    font-family: 'Gabarito', sans-serif;
    font-size: 80px;
}

.main p{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 100;
}

.body-cover{
    background-color: #181818;
    height: 100vh;
}

.body-cont{
    padding-inline: 40px;
    color: rgb(245, 245, 245);
    display: flex;
    height: 100%;
    gap: 40px;
}

.main-image{
    width: fit-content;
    padding-bottom: 60px;
}

.main-image p{
    text-align: center;
}

.main-image img{
    width: 100px;
    border: 2px solid rgb(240, 240, 240);
    border-radius: 10px;
}

.body-left{
    transform: translate(0,-80px);
    max-width: 50%;
    /* background-color: aqua; */
    flex-grow: 0.2;
}

.body-right{
    padding-top: 110px;
    /* background-color: blue; */
    flex-grow: 1;
}

.main-sub{
    /* padding-block: 30px; */
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.main-sub h2{
    font-size: 25px;
}

.tasks{
    border: 2px solid #ffffff26;
    padding: 10px;
    border-radius: 10px;
}

.tasks .list ul{
    list-style: none;
}

@media (max-width: 900px) {
    .body-cont{
        display: block;
    }

    .body-left, .body-right{
        max-width: 100%;
        width: 100%;
    }
}

@media (max-width:400px) {
    .main-cont-fit h1{
        font-size: 20vw;
    }

    .main-cont-fit p{
        font-size: 8vw;
    }

    #signInButton, #signOutButton{
        font-size: large;
    }
}